<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130011189-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130011189-1');
  </script>

  <meta name="description" content="Nicholas Prieto's personal website. Contains links to Github,
  Linkedin, and personal projects.">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" rel="stylesheet" href="../public/css/materialize.min.css">
  <link type="text/css" rel="stylesheet" href="../public/css/styles.css">
  <title>Nick's Dev Journey</title>
</head>
<body class="animated fadeIn">
    <!--Navigation-->
  <nav class="transparent z-depth-0">
    <a href="" data-target="mobile-menu" class="sidenav-trigger"><i class="fa fa-bars"></i></a>
    <img src="../public/images/logo.png" alt="brand logo">
    <a class="animation hide-on-med-and-down" href="#contact">Contact</a>
    <a class="animation hide-on-med-and-down" href="#projects">Projects</a>
    <a class="animation hide-on-med-and-down" href="#about">About</a>
  </nav>
  <ul id="mobile-menu" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="../public/images/forest.jpg" alt="forest background">
      </div>
      <div class="bottom-info">
        <span class="">Nicholas Prieto</span>
        <span class="">nicholasmprieto@gmail.com</span>
      </div>
    </div></li>
    <li><a href="#about" class="waves-effect" ><i class="far fa-user"></i> About</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#projects" class="waves-effect" ><i class="far fa-folder"></i> Projects</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#contact" class="waves-effect" ><i class="far fa-comment-alt"></i> Contact</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#" class="waves-effect" ><i class="fas fa-sign-out-alt"></i> Close</a></li>
  </ul>


  <!--Header-->
  <header class="parallax-img para1">
    <div class="header-title">
        <h3>A Nicholas Prieto Production</h3>
        <h1>The Journey</h1>
        <div class="links">
          <a href="https://www.linkedin.com/in/nickprieto" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.github.com/NickDark" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
        </div>
    </div>
    <div class="arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
  </header>
  <!--Main-->
  <main>
    <section id="about" class="scrollspy">
      <p class="flow-text">
        Hey there! My name is Nicholas Prieto and I am a self-proclaimed lover of web development. I have a passion for the full-stack process and graphic design. Whether it's creating a responsive website, adding new features, or squashing a bug that's been plaguing clients since the beginning - I want to be a part of it. Take a look at my projects and feel free to get in contact if you like the work I create.
      </p>
    </section>
    <div class="parallax-img para2"></div>
    <section class="website-designs scrollspy" id="projects">
      <h2 class="title">Website Designs</h2>
      <div class="design">
        <img class="responsive-img materialboxed lazyload" width="300" data-src="../public/images/1-LiveStream.png" alt="website design for live streaming app">
      </div>
    </section>
    <hr/>
    <section class="live-websites">
      <h2 class="title">Live Websites</h2>
      <div class="website">
        <img class="responsive-img materialboxed lazyload" width="500" data-src="../public/images/yelpcamp.png" alt="yelpcamp">
        <a class="waves-effect" href="https://yelpcamp-3.herokuapp.com/" target="_blank" rel="noopener">Visit</a>
      </div>
      <div class="website">
        <img class="responsive-img materialboxed lazyload" width="500" data-src="../public/images/realtime-chat.png" alt="realtime chat app">
        <a class="waves-effect" href="https://chat-app-3.herokuapp.com/" target="_blank" rel="noopener">Visit</a>
      </div>
    </section>
    <section class="parallax-img para3 scrollspy" id="contact">
      <div class="row">
        {{msg}}
        <form class="col s12" action="send" method="POST">
          <div class="input-field col s12 l6">
            <input class="validate" id="firstname" name="firstname" type="text" required>
            <label for="firstname">First Name</label>
          </div>
          <div class="input-field col s12 l6">
            <input class="validate" id="lastname" name="lastname" type="text" required>
            <label for="lastname">Last Name</label>
          </div>
          <div class="input-field col s12">
            <input class="validate" type="email" id="email" name="email" required>
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
            <textarea class="materialize-textarea validate" id="message" name="message" required></textarea>
            <label for="message">Message</label>
          </div>
          <button class="btn waves-effect" name="submit">Submit
            <i class="fa fa-paper-plane"></i>
          </button>
        </form>
      </div>
      <h2>Connect</h2>
      <a href="https://www.linkedin.com/in/nickprieto" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.github.com/NickDark" target="_blank" rel="noopener"><i class="fab fa-github-square"></i></a>
    </section>
  </main>
  <!--Footer-->
  <footer>
    <span>&copy; Nicholas Prieto 2018</span>
  </footer>

  <script src="../public/js/lazysizes.min.js" async></script>
  <script src="../public/js/all.min.js" async></script>
  <script src="../public/js/jquery-3.3.1.min.js"></script>
  <script src="../public/js/materialize.min.js"></script>
  <script src="../public/js/init.js"></script>
</body>
</html>