/* Imports */
@font-face {
  font-family: 'Roboto-Regular';
  local: 'Roboto';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot") format("eot"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg") format("svg");
  font-family: 'Roboto-Medium';
  local: 'Roboto';
  src: url("../fonts/Roboto-Medium-webfont.eot");
  src: url("../fonts/Roboto-Medium-webfont.eot") format("eot"), url("../fonts/Roboto-Medium-webfont.woff") format("woff"), url("../fonts/Roboto-Medium-webfont.ttf") format("truetype"), url("../fonts/Roboto-Medium-webfont.svg") format("svg");
  font-family: 'Roboto-Bold';
  local: 'Roboto';
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot") format("eot"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg") format("svg");
}

/* Variables */
/* Styles */
body {
  font-family: 'Roboto-Regular', sans-serif;
  color: white;
  font-size: 100%;
}

.parallax-img {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

nav {
  position: absolute;
  z-index: 1;
  padding: 1em;
}

nav img {
  width: 5.5em;
  vertical-align: middle;
}

nav a {
  float: right;
  font-size: 1.3em;
  margin-right: 1.2vw;
  padding: 0 .5vw;
  text-transform: uppercase;
}

nav .animation {
  color: #fff;
  position: relative;
}

nav .animation:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.275s ease-in-out 0s;
  transition: all 0.275s ease-in-out 0s;
}

nav .animation:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

header.para1 {
  background-image: url(../images/roads.jpg);
  height: 100vh;
  width: 100%;
  opacity: .95;
}

header.para1 div.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40vh;
  text-transform: uppercase;
}

header.para1 div.header-title h3 {
  font-size: 1.2em;
  margin: 0;
  letter-spacing: .5em;
  font-weight: bold;
}

header.para1 div.header-title h1 {
  font-size: 4em;
  margin: 0;
  letter-spacing: .95em;
  font-weight: bold;
}

header.para1 div.header-title div.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.5em;
  margin-top: .2em;
}

header.para1 div.header-title div.links a {
  color: white;
  margin: 0 .3em;
}

header.para1 div.arrow {
  position: relative;
  font-size: 2.8em;
  color: white;
  text-align: center;
  top: 38vh;
  right: .4em;
}

header.para1 div.arrow svg {
  position: absolute;
  -webkit-animation: bouncing 1.2s infinite ease-in-out;
          animation: bouncing 1.2s infinite ease-in-out;
}

@-webkit-keyframes bouncing {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bouncing {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}

main section#about {
  background-color: #fffaf2;
}

main section#about p.flow-text {
  margin: 0;
  font-size: 1.4em;
  padding: 3em 10em;
  text-align: center;
  color: #343144;
  letter-spacing: .21em;
  line-height: 1.85em;
  text-transform: uppercase;
}

main div.para2 {
  background-image: url("../images/ocean.jpg");
  height: 80vh;
}

main section.website-designs {
  background-color: #82CFC7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

main section.website-designs h2.title {
  width: 100%;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0;
  padding-top: .2em;
  padding-bottom: .2em;
  font-size: 3.8em;
}

main section.website-designs div.design {
  margin: 8vh 0;
}

section.live-websites {
  background-color: #b8de8c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

section.live-websites h2.title {
  width: 100%;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0;
  padding-top: .2em;
  padding-bottom: .2em;
  font-size: 3.8em;
}

section.live-websites div.website {
  margin: 8vh 0;
  text-align: center;
}

section.live-websites div.website a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 2em;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
  padding: .2em;
}

section.live-websites div.website a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

section#contact {
  background-image: url("../images/computer.jpg");
  height: 90vh;
  text-align: center;
  /* label focus color */
  /* label underline focus color */
}

section#contact div.row {
  width: 60vw;
  padding: 10vh 0 10vh 0;
}

section#contact input {
  color: white;
}

section#contact textarea {
  color: white;
}

section#contact .input-field input[type=text]:focus + label,
section#contact .input-field input[type=email]:focus + label,
section#contact .input-field textarea:focus + label {
  color: white;
}

section#contact .input-field input[type=text]:focus, section#contact .input-field input[type=email]:focus, section#contact .input-field textarea:focus {
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0 1px 0 0 white;
          box-shadow: 0 1px 0 0 white;
}

section#contact button {
  background-color: #4ba04e;
}

section#contact button svg {
  font-size: 1em;
  margin: 0;
}

section#contact h2 {
  font-size: 2.5em;
}

section#contact a {
  color: white;
}

section#contact svg {
  font-size: 3em;
  margin: 0 1vw;
}

footer {
  background-color: #424242;
  color: rgba(255, 255, 255, 0.8);
  padding: 1.5em;
  font-size: .8em;
  text-align: center;
  display: block;
}

@media only screen and (max-width: 740px) {
  body {
    font-size: 100%;
  }
  body nav {
    text-align: center;
  }
  body nav a.sidenav-trigger {
    position: absolute;
    left: 4vw;
    font-size: 2em;
  }
  body nav img {
    font-size: 1em;
  }
  body ul.sidenav li > div.user-view {
    height: 20vh;
    position: relative;
  }
  body ul.sidenav li > div.user-view img {
    width: 100%;
  }
  body ul.sidenav li > div.user-view div.bottom-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: 0;
    line-height: 1.7em;
  }
  body ul.sidenav li > a {
    font-size: 1.5em;
    z-index: 100;
  }
  body header {
    text-align: center;
    font-size: .55em;
  }
  body main section#about p.flow-text {
    text-align: center;
    font-size: .8em;
  }
  body main section.website-designs, body main section.live-websites {
    font-size: .7em;
    padding: 2em;
  }
  body main section#contact div.row {
    width: 80vw;
    padding: 5vh 0 5vh 0;
  }
}
